# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.vscode/tasks.json

codility/lesson00/lesson00TaskZ
codility/lesson00/lesson00TaskZ.txt
codility/lesson01/lesson01TaskA
codility/lesson01/lesson01TaskA.txt
codility/lesson02/lesson02TaskA
codility/lesson02/lesson02TaskA.txt
codility/lesson02/lesson02TaskB
codility/lesson02/lesson02TaskB.txt
codility/lesson03/lesson03TaskA
codility/lesson03/lesson03TaskA.txt
codility/lesson03/lesson03TaskB
codility/lesson03/lesson03TaskB.txt
codility/lesson03/lesson03TaskC
codility/lesson03/lesson03TaskC.txt
codility/lesson04/lesson04TaskA
codility/lesson04/lesson04TaskA.txt
codility/lesson04/lesson04TaskB
codility/lesson04/lesson04TaskB.txt
codility/lesson04/lesson04TaskC
codility/lesson04/lesson04TaskC.txt
codility/lesson04/lesson04TaskD
codility/lesson04/lesson04TaskD.txt
codility/lesson05/lesson05TaskA
codility/lesson05/lesson05TaskA.txt
codility/lesson05/lesson05TaskB
codility/lesson05/lesson05TaskB.txt
codility/lesson05/lesson05TaskC
codility/lesson05/lesson05TaskC.txt
codility/lesson05/lesson05TaskD
codility/lesson05/lesson05TaskD.txt
codility/lesson06/lesson06TaskA
codility/lesson06/lesson06TaskA.txt
codility/lesson06/lesson06TaskB
codility/lesson06/lesson06TaskB.txt
codility/lesson06/lesson06TaskC
codility/lesson06/lesson06TaskC.txt
codility/lesson06/lesson06TaskD
.vscode/settings.json
codility/lesson07/lesson07TaskA
codility/lesson07/lesson07TaskA.txt
.DS_Store
codility/lesson07/lesson07TaskB
codility/lesson07/lesson07TaskA.dSYM/Contents/Info.plist
codility/lesson07/lesson07TaskA.dSYM/Contents/Resources/DWARF/lesson07TaskA
codility/lesson07/lesson07TaskA.dSYM/Contents/Resources/Relocations/aarch64/lesson07TaskA.yml
codility/lesson07/lesson07TaskB.dSYM/Contents/Info.plist
codility/lesson07/lesson07TaskB.dSYM/Contents/Resources/DWARF/lesson07TaskB
codility/lesson07/lesson07TaskB.dSYM/Contents/Resources/Relocations/aarch64/lesson07TaskB.yml
codility/lesson07/lesson07TaskB.txt
codility/lesson07/lesson07TaskC
codility/lesson07/lesson07TaskC.txt
codility/lesson07/lesson07TaskD
codility/lesson07/lesson07TaskD.dSYM/Contents/Resources/Relocations/aarch64/lesson07TaskD.yml
codility/lesson07/lesson07TaskD.dSYM/Contents/Resources/DWARF/lesson07TaskD
codility/lesson07/lesson07TaskD.dSYM/Contents/Info.plist
codility/lesson07/lesson07TaskD.txt
hackerrank/fizzBuzzSampleTest
codility/lesson08/lesson08TaskA
codility/lesson08/lesson08TaskA.txt
codility/lesson08/lesson08TaskB
codility/lesson08/lesson08TaskB.txt
codility/lesson09/lesson09TaskA
codility/lesson09/lesson09TaskA.txt
codility/lesson09/lesson09TaskC
codility/lesson09/lesson09TaskC.txt
hackerrank/ibmAssessment
hackerrank/ibmAssessment.txt
microsoft/chessBoardOptimize
microsoft/chessBoardOptimize.txt
microsoft/chessBoardOptimize.dSYM/Contents/Info.plist
microsoft/chessBoardOptimize.dSYM/Contents/Resources/DWARF/chessBoardOptimize
microsoft/chessBoardOptimize.dSYM/Contents/Resources/Relocations/aarch64/chessBoardOptimize.yml
